@model IEnumerable<CitasApp.Models.Medico>

@{
    ViewData["Title"] = "Médicos";
}

<h2>Médicos disponibles</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>Dr(a). @item.Nombre @item.Apellido</td>
                <td>@item.Especialidad</td>
                <td>
                    <a asp-action="Detalle" asp-route-id="@item.Id">Ver detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>